<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content" id="del-modal-form">
      <form>
		    <div class="modal-header">
			   <h5 class="modal-title text-white" id="exampleModalLabel">Delete Task</h5>
		    </div>
		    <div class="modal-body">
			     <p>Are you sure you want to delete task "<span id="del-title"></span>"?</p>
		    </div>
		    <div class="modal-footer d-flex justify-content-center">
		      <button type="button" class="btn btn-md btn-default rounded-pill" data-dismiss="modal" id="del-cancel">Cancel</button>
		      <button type="submit" class="btn btn-md btn-danger rounded-pill">Delete</button>
		    </div>

      </form>
    </div>
  </div>
</div>