<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content" id="update-modal-form">

      <form>

		    <div class="modal-header">
			   <h5 class="modal-title text-white" id="exampleModalLabel">Update Task</h5>
		    </div>
		    <div class="modal-body">
			   <div class="form-outline mb-1">
			     <input type="text" class="form-control" id="modal-input" name="modal-input"></input>
		       </div>
		    </div>
		    <div class="modal-footer d-flex justify-content-center">
		      <button type="button" class="btn btn-md btn-primary rounded-pill" data-dismiss="modal" id="cancel-btn">Cancel</button>
		      <button type="submit" class="btn btn-md btn-success rounded-pill" id="save-btn">Save</button>
		    </div>

      </form>
    </div>
   </div>
  </div>
 